<%= form_for @friend do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.submit 'Create friend' %>
  </p>
<% end %>

<% @friends.each do |friend| %>
<ul>
  <li>
    <%= friend.first_name %>, <%= friend.last_name %>
  </li>
</ul>
<% end %>